#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.1
Name=Periodic Table
Name[de]=Periodensystem
Name[fr]=Tableau périodique des éléments
Name[it]=Tavola periodica
Name[nl]=Periodiek Systeem
Comment=Periodic table with molecular weight calculator
Comment[de]=Periodensystem mit Rechner für Summenformeln
Comment[fr]=Tableau périodique avec un calculateur de poids moléculaire
Comment[it]=Tavola periodica con un calcolatore per peso moleculare
Comment[nl]=Periodiek Systeem met een calculator van somformules
Exec=periodictable.sh
Icon=periodictable
Categories=Education;Science;Chemistry;Math
StartupNotify=true
Terminal=false

